<div class="background-gray">
    <section id="contact" class="container wow fadeInUp">
        <h2>{{ 'app.title.contact'|trans }}</h2>
        <p class="lead">
            “{{ 'app.quote.contact'|trans }}”<br>- {{ 'app.quote.contact.author'|trans }}
        </p>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <ul class="no-bullets contact-ul">
                    {% if not ez_is_field_empty(content, 'twitter_url') %}
                    <li>
                        <a class="twitter" href="{{ ez_field_value(content, 'twitter_url') }}" target="_blank">
                            <i class="fa fa-twitter"></i>

                        </a>
                    </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'linkedin_url') %}
                    <li>
                        <a class="linkedin" href="{{ ez_field_value(content, 'linkedin_url') }}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'github_url') %}
                    <li>
                        <a class="github" href="{{ ez_field_value(content, 'github_url') }}" target="_blank">
                            <i class="fa fa-github-alt"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'instagram_url') %}
                        <li>
                            <a class="instagram" href="{{ ez_field_value(content, 'instagram_url') }}" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="mail" href="mailto:{{ ez_field_value(content, 'email_contact') }}">
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="phone" href="tel:{{ ez_field_value(content, 'phone') }}">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <hr>
        <div class="footer">
            Lucas SIMONIN ©
            <span id="copyright-year">{{ "now"|date("Y") }}</span>
        </div>

    </section>
</div>