{% spaceless %}
    <title>{% if not ez_is_field_empty(content, 'meta_title') %}{{ ez_field_value(content, 'meta_title') }}{% else %}{{ 'app.global.meta_title'|trans }}{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/appsite/images/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/appsite/images/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/appsite/images/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/appsite/images/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('bundles/appsite/images/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/appsite/images/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/appsite/images/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bundles/appsite/images/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/appsite/images/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/appsite/images/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/appsite/images/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/appsite/images/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('bundles/appsite/images/favicon-128.png') }}" sizes="128x128" />
    {% if not ez_is_field_empty(content, 'meta_description') %}
        <meta name="description" content="{{ ez_field_value(content, 'meta_description') }}">
    {% endif %}
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="CV, Lucas, SIMONIN, web, PHP, eZ, Symfony, developper, Montpellier, IT, Castelnau, France, Freelance">
    <meta name="referrer" content="origin">
    <meta property="og:title" content="{{ 'app.global.meta_title'|trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lucasimonin.me" />
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ ez_field_value(content, 'image_bio').uri }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@lsimonin2" />
    <meta name="twitter:title" content="Lucas SIMONIN CV" />
    <meta name="twitter:description" content="Bonjour, je suis Lucas SIMONIN développeur Web PHP situé à Montpellier. Voici mon CV." />
    <meta name="twitter:image" content="{{ app.request.schemeAndHttpHost ~ ez_field_value(content, 'image_bio').uri }}" />
    <meta name="twitter:image:alt" content="Profile" />
    {{ render( controller( 'AppSiteBundle:Common:hrefLanguages', {'routeRef': ez_route(), 'locationId': content.versionInfo.contentInfo.mainLocationId} ) ) }}
    <link rel="alternate" href="https://lucasimonin.me" hreflang="x-default" />
    <meta name="application-name" content="Lucas SIMONIN CV"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ asset('assets/public/images/mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ asset('assets/public/images/mstile-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ asset('assets/public/images/mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset('assets/public/images/mstile-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ asset('assets/public/images/mstile-310x310.png') }}" />
    <meta name="author" content="Lucas SIMONIN">
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Lucas SIMONIN",
  "url": "https://lucasimonin.me",
  "gender": "Male",
  "jobTitle": "Freelance & Engineer IT",
  "sameAs": [
    "https://twitter.com/lsimonin2",
    "https://www.linkedin.com/in/lucas-simonin-1473ab60/",
    "https://www.instagram.com/lucas.simonin/"
  ]
}
    </script>
{% endspaceless %}